# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# AWS / GCP credentials
*.pem
*.json

# Node (if frontend)
node_modules/

# Logs
*.log
