{
    servers {
        trusted_proxies static 10.0.0.0/16
    }
}

:8080 {
    encode gzip
    log {
        output stdout
        format console
    }

    handle /health {
        respond "OK" 200
    }

    @blocked {
        not header X-Forwarded-For *{{ benchmark_client_ip }}*
    }
    handle @blocked {
        respond "Access denied." 403 {
            close
        }
    }

    handle /api/* {
        reverse_proxy 127.0.0.1:8000 {
            transport http {
                response_header_timeout 30s
                read_timeout            1800s
                write_timeout           1800s
                dial_timeout            10s
            }
        }
    }

    handle /admin/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle /static/* {
        root * {{ backend_dir }}/tri_cloud_vault/staticfiles
        uri strip_prefix /static
        file_server
    }

    handle /js/* {
        root * {{ app_dir }}/frontend
        file_server
    }

    handle /css/* {
        root * {{ app_dir }}/frontend
        file_server
    }

    handle /assets/* {
        root * {{ app_dir }}/frontend
        file_server
    }

    handle {
        root * {{ app_dir }}/frontend
        try_files {path} {path}.html /index.html
        file_server
    }
}