:8080 {

    trusted_proxies private_ranges

    # Allow health check endpoint
    @health path /health
    respond @health 200

    # Allow only EC2 IP for everything else
    @denied not client_ip 13.232.240.86
    respond @denied 403 {
        body "Access restricted to benchmark client only."
        close
    }

    encode gzip

    handle /api/* {
        reverse_proxy 127.0.0.1:8000 {
            transport http {
                response_header_timeout 60s
                read_timeout 120s
                write_timeout 120s
            }
        }
    }

    handle /admin/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        root * {{ app_dir }}/frontend
        try_files {path} {path}.html /index.html
        file_server
    }
}